<article>
  <a href="/dashboard"> &larr; Back to dashboard</a>
  <h2>
    Edit Post
  </h2>
  <form class="edit-post-form form-group">
    <div>
      <input name="post-text" type="text" value="{{post.title}}" class="w-100" />
    </div>
    <div>
      posted by you on {{format_date post.created_at}}
      |
      <a href="/post/{{post.id}}">{{post.comments.length}} {{format_plural "comment" post.comments.length}}</a>
    </div>
    <button type="submit" class="btn btn-dark">Save post</button>
    <button type="button" class="btn btn-danger">Delete post</button>
  </form>
</article>

<form class="comment-form form group ">
  <label for="commentTextArea" class="form-label mt-4">add comment</label>
  <textarea class="form-control" id="commentTextArea" rows="2" spellcheck="false" name="comment-body"></textarea>
  <div>
    <button type="submit" class="btn btn-dark">comment</button>
  </div>
</form>

{{> comments post.comments}}




<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>
<script src="/javascript/comment.js"></script>